{% extends 'stream/base.html'%}
{% block content %}
    <div>
        {% for item in videos %}
        <h3>Video belonging to {{ item.streamer.username }}</h4>
        <h4><a href="{% url 'stream:video-detail' item.id %}">{{ item.title }}</a></h1>
        <h12>{{ item.upload_date}}</h12>
        <p>{{ item.description}}</p>
        <video controls>
            <source src="{{ item.video.url }}" type="video/mp4">
          </video>
          
        {% endfor %}
    </div>
{% endblock content %}